<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">

  <audio id="chatAudio">
    <source src="/sounds/notify.ogg" type="audio/ogg">
    <source src="/sounds/notify.mp3" type="audio/mpeg">
    <source src="/sounds/notify.wav" type="audio/wav">
  </audio>

</head>

<body>
<h1>  </h1>
<h1>User Administration</h1>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if (session.authenticated) { %>
        <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %> </a> </li>

        <li><a href="/url/index_url">Daily Activities</a></li>
        <li><a href="/url/new1">Upload Url</a></li>

        <% } %>

      </ul>

      <div class="navbar-right">
        <% if (session.authenticated) { %>
        <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">Sign-out</a>
        <% } %>
      </div>


      <% if (!session.authenticated) { %>
      <a class="navbar-brand" href="/"> Pravega</a>
      <form class="navbar-form navbar-right" action="/session/create">
        <div class="form-group">
          <input type="text" placeholder="Email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
      <% } %>
    </div>
  </div>
</div>

<%- body %>

<div class="container">
  <hr>
  <footer class="footer pull-right">
    <div>
      <div>Website for Pravega!!</div>
    </div>
  </footer>
</div>


<script src="/js/dependencies/sails.io.js"></script>
</body>
</html>


