<div class="container">
  <h1> User </h1>
  <h3>Name  :  <%= user.name %> </h3>
  <h3><%= user.regNo %> </h3>
  <h3>Email  :  <%= user.email %> </h3>
  <h3>Branch  :  <%= user.branch %> </h3>
  <h3>Role  :  <%= user.role %> </h3>
  <h3>Position  :  <%= user.position %> </h3>
  <h3>Contact  :  <%= user.contact %> </h3>
  <h3>Domain  :  <%= user.domain %> </h3>

  <% if (user.admin) { %>
  <td>Admin <img src="/images/admin.png"></td>

  <% } else { %>
  <td> <img src="/images/pawn.png"></td>
  (Normal User)
  <% } %>
  <hr>

  <a class="btn btn-medium btn-primary" href="/user/edit/<%=user.id%>">Edit</a>
</div>
