<div class="container">
  <h1> User </h1>
  <h3><%= url.name %> </h3>
  <h3><%= url.url %> </h3>
  <h3><%= url.comments %> </h3>
  <h3><%= url.creationDate %> </h3>
  <h3><%= url.updateDate %> </h3>
  <hr>
  <a class="btn btn-medium btn-primary" href="/url/edit_url/<%=url.id%>">Edit Url</a>
</div>
